In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
from scipy.sparse import csr_matrix, hstack
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import log_loss

/opt/conda/lib/python3.5/site-packages/sklearn/cross_validation.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
datadir = '../input'
gatrain = pd.read_csv(os.path.join(datadir,'gender_age_train.csv'),
                      index_col='device_id')
gatest = pd.read_csv(os.path.join(datadir,'gender_age_test.csv'),
                     index_col = 'device_id')
phone = pd.read_csv(os.path.join(datadir,'phone_brand_device_model.csv'))
# Get rid of duplicate device ids in phone
phone = phone.drop_duplicates('device_id',keep='first').set_index('device_id')
events = pd.read_csv(os.path.join(datadir,'events.csv'),
                     parse_dates=['timestamp'], index_col='event_id')
appevents = pd.read_csv(os.path.join(datadir,'app_events.csv'), 
                        usecols=['event_id','app_id','is_active'],
                        dtype={'is_active':bool})
applabels = pd.read_csv(os.path.join(datadir,'app_labels.csv'))

In [3]:
gatrain['trainrow'] = np.arange(gatrain.shape[0])
gatest['testrow'] = np.arange(gatest.shape[0])

In [4]:
brandencoder = LabelEncoder().fit(phone.phone_brand)
phone['brand'] = brandencoder.transform(phone['phone_brand'])
gatrain['brand'] = phone['brand']
gatest['brand'] = phone['brand']
Xtr_brand = csr_matrix((np.ones(gatrain.shape[0]), 
                       (gatrain.trainrow, gatrain.brand)))
Xte_brand = csr_matrix((np.ones(gatest.shape[0]), 
                       (gatest.testrow, gatest.brand)))
print('Brand features: train shape {}, test shape {}'.format(Xtr_brand.shape, Xte_brand.shape))

Brand features: train shape (74645, 131), test shape (112071, 131)

In [5]:
m = phone.phone_brand.str.cat(phone.device_model)
modelencoder = LabelEncoder().fit(m)
phone['model'] = modelencoder.transform(m)
gatrain['model'] = phone['model']
gatest['model'] = phone['model']
Xtr_model = csr_matrix((np.ones(gatrain.shape[0]), 
                       (gatrain.trainrow, gatrain.model)))
Xte_model = csr_matrix((np.ones(gatest.shape[0]), 
                       (gatest.testrow, gatest.model)))
print('Model features: train shape {}, test shape {}'.format(Xtr_model.shape, Xte_model.shape))

Model features: train shape (74645, 1667), test shape (112071, 1667)

In [6]:
a = pd.DataFrame(Xtr_brand.toarray())

In [7]:
a.head()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,128,129,130
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
gatrain.brand.unique().shape

(120,)

In [9]:
events.device_id.unique().shape

(60865,)

In [10]:
events.shape

(3252950, 4)

In [11]:
events.device_id.value_counts().head()

 1186608308763918427    33426
 3915082290673137129    14568
-1656894751624916732     6731
-6242501228649113250     4150
-8340098378141155823     3973
Name: device_id, dtype: int64

In [12]:
gatest.ix[1186608308763918427]

testrow    102800
brand          51
model         860
Name: 1186608308763918427, dtype: int64

In [13]:
gatest.ix[3915082290673137129]

testrow    40536
brand         15
model        445
Name: 3915082290673137129, dtype: int64

In [14]:
gatrain.shape[0]-len(set(gatrain.index)-set(events.device_id.unique()))

23309

In [15]:
len(set(gatrain.index)-set(events.device_id.unique()))

51336

In [16]:
23309/51336

0.45404784167056256

0.45404 = ratio of device_ids with events to no_events in train

In [17]:
gatest.shape[0]-len(set(gatest.index)-set(events.device_id.unique()))

35194

In [18]:
len(set(gatest.index)-set(events.device_id.unique()))

76877

In [19]:
35194/76877

0.4577962199357415

0.45779 = ratio of device_ids with events to no_events in test...almost similar ratio..so 23309 predicts 35194 and 51336 predicts 76877

In [20]:
events.device_id.unique().shape

(60865,)

In [21]:
len(set(gatrain.index) | set(events.device_id.unique()))

112201

112201 = sum of 73645+35194+2362

In [22]:
23309+35194

58503

58503 - total unique ids in events.csv which are meaningful

In [23]:
events.device_id.unique().shape[0]-len(set(events.device_id.unique())&(set(gatrain.index) | set(gatest.index)))

2362

2362 unique device_id's in events.csv are not in train or test..so events corresponding to these device_id's can be removed from events.csv

In [24]:
events_tr = list(set(events.device_id.unique())&set(gatrain.index))

In [25]:
gatrain.ix[events_tr].isnull().sum()

gender      0
age         0
group       0
trainrow    0
brand       0
model       0
dtype: int64

In [26]:
events_train = events.loc[events['device_id'].isin(events_tr)]

In [27]:
events_train.device_id.value_counts().head(10)

-6242501228649113250    4150
-8340098378141155823    3973
-3746248670824158209    3907
 5375599021847302819    3128
 4782582047729166353    2899
 1779631023439405334    2757
 5098778421671837341    2722
 3724654925765159056    2347
-6875585507485886098    2310
 6356179019102873408    2023
Name: device_id, dtype: int64

above is count of no. of events for each device_ids in train which have events(those 23309)

In [28]:
events_te = list(set(events.device_id.unique())&set(gatest.index))

In [29]:
gatest.ix[events_te].isnull().sum()

testrow    0
brand      0
model      0
dtype: int64

In [30]:
events_test = events.loc[events['device_id'].isin(events_te)]

In [31]:
events_test.device_id.value_counts().head(10)

 1186608308763918427    33426
 3915082290673137129    14568
 2504414082456157897     3804
-3037377082444295812     3534
-17299534936664237       3506
-7369693784883843916     3446
 8339429008953975436     3440
 5083019926611946481     3395
-5105332332397066846     3099
 2771516290634663640     2975
Name: device_id, dtype: int64

above is count of no. of events for each device_ids in test which have events(those 35194)

In [32]:
events_test.device_id.value_counts().quantile(0.99)

531.06999999999971

In [33]:
events_train.device_id.value_counts().quantile(0.99)

516.91999999999825

In [34]:
events_train.device_id.value_counts().quantile(0.11)

2.0

(0.99-0.11) = 88% device_id's in train have count of event_id's between 2 to 517..
similarly for test

In [35]:
events_train.device_id.value_counts().mean()

52.15131494272599

In [36]:
events_test.device_id.value_counts().mean()

55.26004432573734

In [37]:
events[events.device_id==1779631023439405334].longitude.value_counts()

114.26    2233
114.25     275
114.20     236
114.21       9
0.00         4
Name: longitude, dtype: int64

In [38]:
events[events.device_id==3915082290673137129].longitude.value_counts()

116.39    8034
0.00      5879
121.24     545
112.88      58
108.35      35
114.19      12
112.85       4
118.77       1
Name: longitude, dtype: int64

change 0 as weighted mean or median..given change restricted to (+2 or -2)

In [39]:
events[events.device_id==2504414082456157897].longitude.value_counts()

118.85    3000
120.62     403
120.61     117
120.60      47
118.81      28
119.43      25
120.14      21
119.59      18
120.34      12
119.41       8
119.95       8
119.52       7
119.94       6
120.31       6
118.84       5
120.19       4
119.42       4
119.87       4
119.44       4
120.35       4
120.03       4
120.32       4
119.99       4
119.57       4
119.80       4
119.61       3
119.51       3
118.82       3
119.75       3
118.79       3
119.55       3
118.88       3
119.79       3
120.17       2
120.20       2
119.65       2
120.18       2
120.33       2
120.07       2
119.64       2
119.69       2
120.15       1
119.62       1
120.38       1
119.73       1
119.70       1
120.23       1
120.25       1
118.78       1
119.74       1
119.66       1
119.77       1
120.56       1
0.00         1
Name: longitude, dtype: int64

make grids of 2 by 2..lat-lon and transform latitude longitude to grid number/////or divide latitude longitude by mod(4) or something

In [40]:
events[events.device_id==-3037377082444295812].longitude.value_counts()

115.82    1233
115.85     662
115.84     445
115.91     382
115.90     195
115.83     133
115.86      90
115.88      75
115.89      66
115.79      51
115.96      39
115.92      27
115.77      19
115.94      17
115.87      14
115.81      13
0.00        11
115.78      11
115.93      11
115.97      10
115.80       8
115.98       5
115.95       5
115.76       5
115.74       2
115.75       2
115.99       2
115.72       1
Name: longitude, dtype: int64

In [41]:
events[events.device_id==5375599021847302819].longitude.value_counts()

115.02    2444
115.13     684
Name: longitude, dtype: int64

    1186608308763918427    33426
     3915082290673137129    14568
     2504414082456157897     3804
    -3037377082444295812     3534
    -17299534936664237       3506
    -7369693784883843916     3446
     8339429008953975436     3440
     5083019926611946481     3395
    -5105332332397066846     3099
     2771516290634663640     2975
    
    --------------------------------------------
    -6242501228649113250    4150
    -8340098378141155823    3973
    -3746248670824158209    3907
     5375599021847302819    3128
     4782582047729166353    2899
     1779631023439405334    2757
     5098778421671837341    2722
     3724654925765159056    2347
    -6875585507485886098    2310
     6356179019102873408    2023

In [42]:
events[events.latitude==0].shape

(968955, 4)

In [43]:
events[events.longitude==0].shape

(968711, 4)

In [44]:
events[(events.longitude==0)&(events.latitude>0)]

                    device_id           timestamp  longitude  latitude
event_id
143103    8124653877439841139 2016-05-01 11:21:17        0.0      0.02
313832    8124653877439841139 2016-05-04 17:00:51        0.0      0.02
572638    8124653877439841139 2016-05-03 09:27:40        0.0      0.02
691374    8124653877439841139 2016-05-03 21:00:26        0.0      0.02
788005    8124653877439841139 2016-05-02 09:04:54        0.0      0.02
886689   -3936636173436703103 2016-05-03 21:17:52        0.0      0.24
1048873   8124653877439841139 2016-05-04 02:17:34        0.0      0.02
1134395   8124653877439841139 2016-05-04 03:08:43        0.0      0.02
1214458   8124653877439841139 2016-05-01 23:48:29        0.0      0.02
1253148   8124653877439841139 2016-05-01 13:57:00        0.0      0.02
1308121   8124653877439841139 2016-05-04 09:19:20        0.0      0.02
1336663   8124653877439841139 2016-05-03 12:35:57        0.0      0.02
1697857  -3936636173436703103 2016-05-03 21:17:28        0.0      0.24
1939931   8124653877439841139 2016-05-02 17:35:13        0.0      0.02
2049092   8124653877439841139 2016-05-03 10:25:29        0.0      0.02
2084090   8124653877439841139 2016-05-02 15:39:55        0.0      0.02
2434291   8124653877439841139 2016-05-04 18:35:12        0.0      0.02
2511435   8124653877439841139 2016-05-04 10:35:57        0.0      0.02
2679780  -3936636173436703103 2016-05-03 21:18:25        0.0      0.24
2818161   8124653877439841139 2016-05-03 00:19:19        0.0      0.02
2829551   8124653877439841139 2016-05-02 12:58:45        0.0      0.02
2993992   8124653877439841139 2016-05-01 10:40:39        0.0      0.02
3036621  -3936636173436703103 2016-05-03 21:17:22        0.0      0.24
3146692   8124653877439841139 2016-05-02 11:27:29        0.0      0.02

In [45]:
df_near0 = events[(events["longitude"]>-2) &\
                     (events["longitude"]<2) &\
                     (events["latitude"]>-2) &\
                     (events["latitude"]<2)]

In [46]:
df_near0.shape

(1047700, 4)

change all in df_near0 to weighted mean or median of respective device_ids...restricted to max change (+2 or -2)....
change  180,-180 longitude to mean or median..mean is the mean of others excluding 0..

In [47]:
df_near1 = events[(events["longitude"]>-8) &\
                     (events["longitude"]<8) &\
                     (events["latitude"]>-8) &\
                     (events["latitude"]<8)]

In [48]:
df_near1.shape

(1047700, 4)

In [49]:
events[(events.longitude<-150)&(events.longitude>-180)]

                    device_id           timestamp  longitude  latitude
event_id
391217   -8886768683305255724 2016-05-03 17:13:38    -155.99     19.82
391219   -8886768683305255724 2016-05-03 17:10:10    -155.99     19.82
456528   -8886768683305255724 2016-05-03 17:22:19    -155.99     19.82
466742   -8886768683305255724 2016-05-03 17:15:08    -155.99     19.82
502636   -8886768683305255724 2016-05-03 15:10:21    -155.99     19.82
771215   -8886768683305255724 2016-05-03 15:13:34    -155.99     19.82
853772   -8886768683305255724 2016-05-05 17:23:47    -155.99     19.82
959713   -8886768683305255724 2016-05-03 14:31:43    -155.99     19.82
1152452  -8886768683305255724 2016-05-03 16:38:44    -155.99     19.82
1343823  -8886768683305255724 2016-05-03 17:17:24    -155.99     19.82
1457271  -8886768683305255724 2016-05-05 17:19:31    -155.99     19.82
1543840  -8886768683305255724 2016-05-03 17:22:36    -155.99     19.82
1723867  -8886768683305255724 2016-05-03 17:09:29    -155.99     19.82
1858296  -8886768683305255724 2016-05-03 17:24:58    -155.99     19.82
1858335  -8886768683305255724 2016-05-03 17:14:08    -155.99     19.82
1968129  -8886768683305255724 2016-05-03 13:18:11    -155.99     19.82
2055437  -8886768683305255724 2016-05-03 15:14:48    -155.99     19.82
2097713  -8886768683305255724 2016-05-03 15:37:03    -155.99     19.82
2346269  -8886768683305255724 2016-05-05 17:07:42    -155.99     19.82
2401466  -8886768683305255724 2016-05-03 15:12:34    -155.99     19.82
2483749  -8886768683305255724 2016-05-03 17:18:16    -155.99     19.82
2591245  -8886768683305255724 2016-05-05 17:07:51    -155.99     19.82
2659709  -8886768683305255724 2016-05-03 13:51:53    -155.99     19.82
2781396  -8886768683305255724 2016-05-03 15:10:56    -155.99     19.82
3152563  -8886768683305255724 2016-05-03 15:13:04    -155.99     19.82
3207120  -8886768683305255724 2016-05-05 17:11:43    -155.99     19.82

In [50]:
gatrain.ix[-8886768683305255724]

gender           M
age             35
group       M32-38
trainrow     43544
brand           15
model          287
Name: -8886768683305255724, dtype: object

outlier maybe...above man in hawaii (-155.99,19.82)