In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
from scipy.sparse import csr_matrix, hstack
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import log_loss

/opt/conda/lib/python3.5/site-packages/sklearn/cross_validation.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
datadir = '../input'
gatrain = pd.read_csv(os.path.join(datadir,'gender_age_train.csv'),
                      index_col='device_id')
gatest = pd.read_csv(os.path.join(datadir,'gender_age_test.csv'),
                     index_col = 'device_id')
phone = pd.read_csv(os.path.join(datadir,'phone_brand_device_model.csv'))
# Get rid of duplicate device ids in phone
phone = phone.drop_duplicates('device_id',keep='first').set_index('device_id')
events = pd.read_csv(os.path.join(datadir,'events.csv'),
                     parse_dates=['timestamp'], index_col='event_id')
appevents = pd.read_csv(os.path.join(datadir,'app_events.csv'), 
                        usecols=['event_id','app_id','is_active'],
                        dtype={'is_active':bool})
applabels = pd.read_csv(os.path.join(datadir,'app_labels.csv'))

In [3]:
gatrain['trainrow'] = np.arange(gatrain.shape[0])
gatest['testrow'] = np.arange(gatest.shape[0])

In [4]:
brandencoder = LabelEncoder().fit(phone.phone_brand)
phone['brand'] = brandencoder.transform(phone['phone_brand'])
gatrain['brand'] = phone['brand']
gatest['brand'] = phone['brand']
Xtr_brand = csr_matrix((np.ones(gatrain.shape[0]), 
                       (gatrain.trainrow, gatrain.brand)))
Xte_brand = csr_matrix((np.ones(gatest.shape[0]), 
                       (gatest.testrow, gatest.brand)))
print('Brand features: train shape {}, test shape {}'.format(Xtr_brand.shape, Xte_brand.shape))

Brand features: train shape (74645, 131), test shape (112071, 131)

In [5]:
a = pd.DataFrame(Xtr_brand.toarray())

In [6]:
a.head()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,128,129,130
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
gatrain.brand.unique().shape

(120,)

In [24]:
gatrain.brand.min()

1

In [32]:
a[3].sum()

332.0

In [34]:
phone.brand.max()

130

In [35]:
phone.head()

                     phone_brand   device_model  brand
device_id
-8890648629457979026          小米             红米     51
 1277779817574759137          小米           MI 2     51
 5137427614288105724          三星      Galaxy S4     15
 3669464369358936369       SUGAR           时尚手机      9
-5019277647504317457          三星  Galaxy Note 2     15

In [36]:
m = phone.phone_brand.str.cat(phone.device_model)

In [41]:
m

device_id
-8890648629457979026                 小米红米
 1277779817574759137               小米MI 2
 5137427614288105724          三星Galaxy S4
 3669464369358936369            SUGAR时尚手机
-5019277647504317457      三星Galaxy Note 2
 3238009352149731868               华为Mate
-3883532755183027260              小米MI 2S
-2972199645857147708              华为G610S
-5827952925479472594        小米MI One Plus
-8262508968076336275              vivoS7I
 5840378295166286440          三星Galaxy S3
-5776341595519925628              小米MI 2A
 3437705102632680210          三星Galaxy S3
-3568334676360016285          三星Galaxy S3
 556978549708484782                小米MI 2
 5694497738268412307               小米MI 3
 6327116114284382479          华为G520-0000
 773248989809697210             vivoX5Pro
-686020914357018824               小米MI 2S
 6936613487637228956                魅族MX2
-3875043166283300758      三星Galaxy Note 2
-6964140211214884922              小米MI 2S
-30236203766311351                小米MI 2S
 4887985552773989409            vivoXplay
 7206202610070842107      三星Galaxy Note 2
-39620037751344714                小米MI 2S
 7223189369472462826               酷派7270
-3998002640294516352            天语Touch 3
 2527845705328727233            OPPOR2017
-3157952721100703520      三星Galaxy Note 2
                              ...
 42372237331287236                OPPOR7s
 5227968728585496675            OPPOR813T
 7793779831192048252              OPPOR1S
-744475600656645305      三星Galaxy S7 Edge
 3608110452636220010            努比亚My 布拉格
-8618225365386360981                LGL22
 2275764314427946733             华为Mate 8
-2334418817028672523              OPPOA53
-4449937638303316446           华为荣耀6 plus
 1565799471880375963              金立GN151
 7345944586031224659          华为Ascend P8
-8541422542047946093           OPPOFind 5
-4980799589632292473              酷派5263S
-4982005935723339332            乐视超级手机Max
-2200024706981051998             小米红米note
 4088225607463878385      三星Galaxy Note 3
 4533938230389516114             联想黄金斗士A8
 2991768363764912164    三星Galaxy S6 Edge+
-8903406387941280700               OPPOR9
-6424608528529231693            小米红米Note2
-2998819981424937912          三星Galaxy A8
 2397799423340611378          三星Galaxy S5
 2639235301715597247              OPPOA33
 3884484562161888663             OPPO1100
-6564340457392363163             中兴Axon天机
 3210973037848940984              小米MI 2S
 7979541072208733273               小米MI 4
-187404680852357705                 小米红米2
-2718274279595622821               小米MI 3
 3098391762071677791               vivoX1
Name: phone_brand, dtype: object

In [39]:
m.unique().shape

(1667,)

In [40]:
phone.device_model.unique().shape

(1599,)

In [42]:
m = phone.phone_brand.str.cat(phone.device_model)
modelencoder = LabelEncoder().fit(m)
phone['model'] = modelencoder.transform(m)
gatrain['model'] = phone['model']
gatest['model'] = phone['model']
Xtr_model = csr_matrix((np.ones(gatrain.shape[0]), 
                       (gatrain.trainrow, gatrain.model)))
Xte_model = csr_matrix((np.ones(gatest.shape[0]), 
                       (gatest.testrow, gatest.model)))
print('Model features: train shape {}, test shape {}'.format(Xtr_model.shape, Xte_model.shape))

Model features: train shape (74645, 1667), test shape (112071, 1667)

In [43]:
b = pd.DataFrame(Xtr_model.toarray())

In [54]:
phone.model.min()

0