In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
#import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
from scipy.sparse import csr_matrix, hstack
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import log_loss

In [2]:
datadir = 'input/'
gatrain = pd.read_csv(os.path.join(datadir,'gender_age_train.csv'),
                      index_col='device_id')
gatest = pd.read_csv(os.path.join(datadir,'gender_age_test.csv'),
                     index_col = 'device_id')
phone = pd.read_csv(os.path.join(datadir,'phone_brand_device_model.csv'))
# Get rid of duplicate device ids in phone
phone = phone.drop_duplicates('device_id',keep='first').set_index('device_id')
events = pd.read_csv(os.path.join(datadir,'events.csv'),
                     parse_dates=['timestamp'], index_col='event_id')
appevents = pd.read_csv(os.path.join(datadir,'app_events.csv'), 
                        usecols=['event_id','app_id','is_active'],
                        dtype={'is_active':bool})
applabels = pd.read_csv(os.path.join(datadir,'app_labels.csv'))

In [3]:
gatrain['trainrow'] = np.arange(gatrain.shape[0])
gatest['testrow'] = np.arange(gatest.shape[0])

In [4]:
brandencoder = LabelEncoder().fit(phone.phone_brand)
phone['brand'] = brandencoder.transform(phone['phone_brand'])
gatrain['brand'] = phone['brand']
gatest['brand'] = phone['brand']
Xtr_brand = csr_matrix((np.ones(gatrain.shape[0]), 
                       (gatrain.trainrow, gatrain.brand)))
Xte_brand = csr_matrix((np.ones(gatest.shape[0]), 
                       (gatest.testrow, gatest.brand)))
print('Brand features: train shape {}, test shape {}'.format(Xtr_brand.shape, Xte_brand.shape))

Brand features: train shape (74645, 131), test shape (112071, 131)

In [5]:
m = phone.phone_brand.str.cat(phone.device_model)
modelencoder = LabelEncoder().fit(m)
phone['model'] = modelencoder.transform(m)
gatrain['model'] = phone['model']
gatest['model'] = phone['model']
Xtr_model = csr_matrix((np.ones(gatrain.shape[0]), 
                       (gatrain.trainrow, gatrain.model)))
Xte_model = csr_matrix((np.ones(gatest.shape[0]), 
                       (gatest.testrow, gatest.model)))
print('Model features: train shape {}, test shape {}'.format(Xtr_model.shape, Xte_model.shape))

Model features: train shape (74645, 1667), test shape (112071, 1667)

In [6]:
appencoder = LabelEncoder().fit(appevents.app_id)
appevents['app'] = appencoder.transform(appevents.app_id)
napps = len(appencoder.classes_)

In [56]:
events.head()

                    device_id           timestamp  longitude  latitude
event_id
1           29182687948017175 2016-05-01 00:55:25     121.38     31.24
2        -6401643145415154744 2016-05-01 00:54:12     103.65     30.97
3        -4833982096941402721 2016-05-01 00:08:05     106.60     29.70
4        -6815121365017318426 2016-05-01 00:06:40     104.27     23.28
5        -5373797595892518570 2016-05-01 00:07:18     115.88     28.66

In [54]:
appevents.event_id.unique()

array([      2,       6,       7, ..., 3252937, 3252946, 3252948])

In [51]:
appevents.event_id.unique().shape

(1488096,)

In [12]:
appevents.head(2)

   event_id               app_id is_active    app
0         2  5927333115845830913      True  15408
1         2 -5720078949152207372     False   3384

In [67]:
events.head(2)

                    device_id           timestamp  longitude  latitude
event_id
1           29182687948017175 2016-05-01 00:55:25     121.38     31.24
2        -6401643145415154744 2016-05-01 00:54:12     103.65     30.97

In [57]:
a = appevents.merge(events[['device_id','timestamp','longitude','latitude']], how='left',left_on='event_id',right_index=True)

In [63]:
a.isnull().sum()

event_id     0
app_id       0
is_active    0
app          0
device_id    0
timestamp    0
longitude    0
latitude     0
dtype: int64

In [90]:
a.head()

,event_id,app_id,is_active,app,device_id,timestamp,longitude,latitude
0,2,5927333115845830913,True,15408,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
1,2,-5720078949152207372,False,3384,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
2,2,-1633887856876571208,False,7620,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
3,2,-653184325010919369,True,8902,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
4,2,8693964245073640147,True,18686,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97

In [33]:
b = a[a.device_id==-3037377082444295812]

In [35]:
c = b.sort_values('app_id')

In [41]:
c[c.app_id==-9050100410106163077]

          event_id               app_id is_active  app            device_id
8360639     837361 -9050100410106163077     False  183 -3037377082444295812
23223989   2322618 -9050100410106163077     False  183 -3037377082444295812
17083400   1709592 -9050100410106163077     False  183 -3037377082444295812
21635050   2167973 -9050100410106163077     False  183 -3037377082444295812
8266603     830320 -9050100410106163077     False  183 -3037377082444295812
13319965   1334197 -9050100410106163077     False  183 -3037377082444295812
2614476     261753 -9050100410106163077     False  183 -3037377082444295812
26847066   2689605 -9050100410106163077     False  183 -3037377082444295812
20045174   2005301 -9050100410106163077     False  183 -3037377082444295812
29161505   2920700 -9050100410106163077     False  183 -3037377082444295812
24186548   2422183 -9050100410106163077     False  183 -3037377082444295812
17062432   1707971 -9050100410106163077     False  183 -3037377082444295812
22461592   2251465 -9050100410106163077     False  183 -3037377082444295812
20923845   2094589 -9050100410106163077     False  183 -3037377082444295812
31668663   3167646 -9050100410106163077     False  183 -3037377082444295812
25904820   2594631 -9050100410106163077     False  183 -3037377082444295812
11805829   1182934 -9050100410106163077     False  183 -3037377082444295812
7283554     729550 -9050100410106163077     False  183 -3037377082444295812
19127509   1915426 -9050100410106163077     False  183 -3037377082444295812
807803       77533 -9050100410106163077     False  183 -3037377082444295812
25020396   2504828 -9050100410106163077     False  183 -3037377082444295812
2597889     259726 -9050100410106163077     False  183 -3037377082444295812
29171335   2921822 -9050100410106163077     False  183 -3037377082444295812
20528877   2052987 -9050100410106163077     False  183 -3037377082444295812
17061938   1707932 -9050100410106163077     False  183 -3037377082444295812
9081145     911209 -9050100410106163077     False  183 -3037377082444295812
4349220     433857 -9050100410106163077     False  183 -3037377082444295812
14653759   1468018 -9050100410106163077     False  183 -3037377082444295812
29156185   2920086 -9050100410106163077     False  183 -3037377082444295812
11805761   1182933 -9050100410106163077     False  183 -3037377082444295812
...            ...                  ...       ...  ...                  ...
32174601   3222085 -9050100410106163077     False  183 -3037377082444295812
21214740   2123936 -9050100410106163077     False  183 -3037377082444295812
5259570     525944 -9050100410106163077     False  183 -3037377082444295812
17976634   1799090 -9050100410106163077     False  183 -3037377082444295812
20290121   2029809 -9050100410106163077     False  183 -3037377082444295812
7484929     751968 -9050100410106163077     False  183 -3037377082444295812
3704026     369405 -9050100410106163077     False  183 -3037377082444295812
32117293   3216974 -9050100410106163077     False  183 -3037377082444295812
3766170     375488 -9050100410106163077     False  183 -3037377082444295812
10669662   1069596 -9050100410106163077     False  183 -3037377082444295812
28314888   2836533 -9050100410106163077     False  183 -3037377082444295812
3321889     332337 -9050100410106163077     False  183 -3037377082444295812
17968334   1798303 -9050100410106163077     False  183 -3037377082444295812
24495123   2453155 -9050100410106163077     False  183 -3037377082444295812
32421913   3247071 -9050100410106163077     False  183 -3037377082444295812
24492539   2452856 -9050100410106163077     False  183 -3037377082444295812
32267780   3229805 -9050100410106163077     False  183 -3037377082444295812
25572800   2561782 -9050100410106163077     False  183 -3037377082444295812
28048621   2809632 -9050100410106163077     False  183 -3037377082444295812
344674       33555 -9050100410106163077     False  183 -3037377082444295812
27469245   2750141 -9050100410106163077     False  183 -3037377082444295812
10837028   1085139 -9050100410106163077     False  183 -3037377082444295812
21352168   2139408 -9050100410106163077     False  183 -3037377082444295812
32439136   3249057 -9050100410106163077     False  183 -3037377082444295812
5245720     524238 -9050100410106163077     False  183 -3037377082444295812
21269352   2130688 -9050100410106163077     False  183 -3037377082444295812
5169778     515602 -9050100410106163077     False  183 -3037377082444295812
9177641     920216 -9050100410106163077     False  183 -3037377082444295812
3415729     339844 -9050100410106163077     False  183 -3037377082444295812
6048514     605997 -9050100410106163077     False  183 -3037377082444295812

[2718 rows x 5 columns]

In [169]:
applabels[applabels.app_id==5927333115845830913]

                     app_id  label_id
3152    5927333115845830913       549
8139    5927333115845830913       710
69351   5927333115845830913       704
187954  5927333115845830913       548
430991  5927333115845830913       172

In [109]:
d = applabels.groupby(['app_id'])['label_id'].unique()

In [111]:
pd.DataFrame(d)

                                                               label_id
app_id
-9223281467940916832                               [796, 795, 794, 405]
-9222877069545393219                                              [135]
-9222785464897897681                               [812, 795, 794, 405]
-9222198347540756780                               [810, 795, 794, 405]
-9221970424041518544                [714, 704, 548, 813, 795, 794, 405]
-9221828329335715761                                              [971]
-9221379430160197477           [711, 714, 548, 704, 801, 795, 794, 405]
-9221345089971749240                               [800, 795, 794, 405]
-9221156934682287334                                              [130]
-9220899153371182692                               [857, 874, 548, 854]
-9220695018041740924                                    [873, 854, 548]
-9220495420261530286                               [798, 795, 794, 405]
-9219918616263690801                               [800, 795, 794, 405]
-9219738778811419516                                    [858, 854, 548]
-9219534268895187591                                    [714, 704, 548]
-9219499757773485541                               [811, 795, 794, 405]
-9219017259147214016                               [813, 795, 794, 405]
-9218940847399195983                               [800, 795, 794, 405]
-9218939529689059677                               [800, 795, 794, 405]
-9218939453723987395                               [800, 795, 794, 405]
-9218939146261660401                               [800, 795, 794, 405]
-9218836670984150733                               [796, 795, 794, 405]
-9218699278470272022                                    [713, 704, 548]
-9218487885271516150                           [714, 704, 548, 44, 104]
-9218487885267037129       [711, 714, 548, 704, 811, 795, 794, 405, 44]
-9218487885246804432                                               [44]
-9218324692096319308                                    [721, 704, 548]
-9218310540360546691          [405, 730, 756, 777, 782, 787, 788, 1012]
-9218007467888061518                                    [713, 704, 548]
-9217702709289243329                                    [721, 704, 548]
...                                                                 ...
 9219980965795711314                                    [713, 704, 548]
 9220205176760015004                                    [548, 549, 152]
 9220205219783929990                          [863, 870, 548, 854, 871]
 9220516008893070913                                    [721, 704, 548]
 9220581914111522882  [252, 251, 405, 730, 756, 761, 777, 782, 787, ...
 9220582377071973188                [737, 738, 786, 774, 781, 405, 730]
 9220582377072041832  [405, 730, 737, 738, 774, 781, 786, 870, 1017,...
 9220582377072178212  [713, 704, 548, 405, 730, 737, 744, 775, 779, ...
 9220752705099898783                                    [714, 704, 548]
 9220759081799407624                               [713, 721, 548, 704]
 9220934465400977577                               [802, 795, 794, 405]
 9221047113491315608                               [811, 795, 794, 405]
 9221227934018371350                               [711, 714, 548, 704]
 9221416905928937549                               [811, 795, 794, 405]
 9221416906510267586                                              [975]
 9221543165002868377                               [800, 795, 794, 405]
 9221653581903418123                                    [713, 704, 548]
 9221699163844714144                                    [548, 854, 871]
 9221975332454256322                                    [714, 704, 548]
 9222011580033376138                                [710, 704, 548, 13]
 9222011580033378943                                    [710, 704, 548]
 9222011580033379320                                    [710, 704, 548]
 9222072904806798865                                    [713, 704, 548]
 9222193706838904353                                    [710, 704, 548]
 9222307926049432405                               [813, 795, 794, 405]
 9222488106573038706                                              [179]
 9222542043353102991                                    [714, 704, 548]
 9222821882765325814                               [813, 795, 794, 405]
 9223029189880985324                                              [968]
 9223317927457411432                [714, 704, 548, 813, 795, 794, 405]

[113211 rows x 1 columns]

In [114]:
label_cat = pd.read_csv(os.path.join(datadir,'label_categories.csv'))

In [118]:
labelsss = applabels.merge(label_cat,how='left',on='label_id')

In [178]:
labelsss[labelsss.label_id==704].head()

                    app_id  label_id               category
69156  9058148894318981231       704  Property Industry 2.0
69157 -5010107147746880097       704  Property Industry 2.0
69158  3520983770777613287       704  Property Industry 2.0
69159  3317077434980644433       704  Property Industry 2.0
69160  9001857150917770908       704  Property Industry 2.0

In [ ]:
#[Cards RPG, game, Tencent, Custom label]
#[796, 795, 794, 405]

In [156]:
label_cat[label_cat.label_id==714]

     label_id category
639       714   1 free

In [127]:
id_grp = pd.DataFrame(labelsss.groupby(['app_id'])['label_id'].unique())

In [139]:
category_grp = pd.DataFrame(labelsss.groupby(['app_id'])['category'].unique())

In [165]:
id_grp.head()

,label_id,category,labels_count
app_id,,,
-9223281467940916832,"[796, 795, 794, 405]","[Cards RPG, game, Tencent, Custom label]",4
-9222877069545393219,[135],[education outside class],1
-9222785464897897681,"[812, 795, 794, 405]","[Parkour avoid class, game, Tencent, Custom la...",4
-9222198347540756780,"[810, 795, 794, 405]","[Casual puzzle categories, game, Tencent, Cust...",4
-9221970424041518544,"[714, 704, 548, 813, 795, 794, 405]","[1 free, Property Industry 2.0, Industry tag, ...",7

In [148]:
category_grp.head()

                                                               category
app_id
-9223281467940916832           [Cards RPG, game, Tencent, Custom label]
-9222877069545393219                          [education outside class]
-9222785464897897681  [Parkour avoid class, game, Tencent, Custom la...
-9222198347540756780  [Casual puzzle categories, game, Tencent, Cust...
-9221970424041518544  [1 free, Property Industry 2.0, Industry tag, ...

In [153]:
category_grp.ix[-9221970424041518544]

category    [1 free, Property Industry 2.0, Industry tag, ...
Name: -9221970424041518544, dtype: object

In [152]:
pd.options.display.max_colwidth = 50

In [154]:
id_grp['category'] = category_grp['category']

In [162]:
cnt = pd.DataFrame(labelsss.groupby(['app_id'])['label_id'].agg(['count']))

In [167]:
id_grp.head()

,label_id,category,labels_count
app_id,,,
-9223281467940916832,"[796, 795, 794, 405]","[Cards RPG, game, Tencent, Custom label]",4
-9222877069545393219,[135],[education outside class],1
-9222785464897897681,"[812, 795, 794, 405]","[Parkour avoid class, game, Tencent, Custom la...",4
-9222198347540756780,"[810, 795, 794, 405]","[Casual puzzle categories, game, Tencent, Cust...",4
-9221970424041518544,"[714, 704, 548, 813, 795, 794, 405]","[1 free, Property Industry 2.0, Industry tag, ...",7

In [164]:
id_grp['labels_count'] = cnt['count']

In [166]:
a.head()

,event_id,app_id,is_active,app,device_id,timestamp,longitude,latitude
0,2,5927333115845830913,True,15408,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
1,2,-5720078949152207372,False,3384,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
2,2,-1633887856876571208,False,7620,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
3,2,-653184325010919369,True,8902,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
4,2,8693964245073640147,True,18686,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97

In [173]:
df_final = a.merge(id_grp[['label_id','category','labels_count']], how='left',left_on='app_id',right_index=True)

In [172]:
appevents.shape

(32473067, 3)

In [174]:
df_final.head()

,event_id,app_id,is_active,app,device_id,timestamp,longitude,latitude,label_id,category,labels_count
0,2,5927333115845830913,True,15408,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,"[549, 710, 704, 548, 172]","[Property Industry 1.0, Relatives 1, Property ...",5
1,2,-5720078949152207372,False,3384,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,"[721, 704, 548, 302, 303]","[Personal Effectiveness 1, Property Industry 2...",5
2,2,-1633887856876571208,False,7620,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,"[251, 263, 306, 302, 405, 730, 756, 757, 775, ...","[Finance, Debit and credit, unknown, Custom la...",12
3,2,-653184325010919369,True,8902,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,"[405, 730, 747, 749, 776, 782, 785, 255, 251, ...","[Custom label, And the Church, Insurance, Lowe...",10
4,2,8693964245073640147,True,18686,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,"[549, 710, 704, 548, 172]","[Property Industry 1.0, Relatives 1, Property ...",5

In [180]:
df_final.to_hdf('events_data.hdf5','table')

MemoryError: